<footer class="footer">
  <div class="container">
    <div class="footer__links">
      <p class="footer__title">Посилання</p>
      <div class="footer__list">
        <a href="#">
          <p class="footer__link">Головна</p>
        </a>
        <a href="#">
          <p class="footer__link">Замовлення</p>
        </a>
        <a href="#">
          <p class="footer__link">Виконавці</p>
        </a>
        <a href="#">
          <p class="footer__link">Реєстрація</p>
        </a>
        <a href="#">
          <p class="footer__link">Авторизація</p>
        </a>
      </div>
    </div>
    <div class="footer__contacs">
      <p class="footer__title">По всім запитанням звертатись на електроннупошту:</p>
      <p class="footer__email">e_nikitin@dtsepatona.ukr.education</p>
      <p class="footer__madein">Створено в Україні © 2022-2022</p>
    </div>
    <!--hr>
    <div class="footer__end">
      <div class="footer__madein">

      </div>
    </div-->
  </div>
</footer>
