<div class="wrapper">
  <div class="container">
    <section>
      <div class="offer">
        <div class="offer__info">
          <div class="offer__title">
            <h1 class="main-text">Твій помічник при</h1>
            <h1 class="main-text">пошуку автопослуг</h1>
          </div>
          <div class="offer__desc">
            <h2 class="text">Фріланс-біржа для пошуку автопослуг -</h2>
              <h2 class="text">зручне рішення для економії часу</h2>
          </div>
          <a [routerLink]="['/orders']">
            <div class="offer__button">
              <p class="button-text">Розмістити замовлення</p>
            </div>
          </a>
        </div>
        <div class="offer__image">
          <img src="assets/img/home/passat.png" alt="Ой!">
        </div>
      </div>
    </section>
  </div>
</div>
