*{
  font-family: "PT Sans", sans-serif;
}

@import '~font-awesome/scss/font-awesome';
$red: #D62828;
$blue: #003049;
$orange: #F77F00;
$grey: #777777;
$white: #fff;
$black: #000;

.wrapper{
}

.container{
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
}

.orderName{
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #555555;
  display:flex;
}

.orderDescription{
  max-width: 900px;
  margin-top: 20px;
  font-size: 15px;
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 5px;
  .orderDescription__HTML{
    margin: 20px;
    line-height: 21px;
    Html, address, blockquote, body, dd, div, dl, dt, fieldset, form, frame,
    frameset, h1, h2, h3, h4, h5, h6, noframes, ol, p, ul, center,
    dir, hr, menu, pre { display: block; unicode-bidi: embed } li { display: list-item }
    head { display: none } table { display: table } tr { display: table-row }
    thead { display: table-header-group } tbody { display: table-row-group }
    tfoot { display: table-footer-group } col { display: table-column }
    colgroup { display: table-column-group } td, th { display: table-cell }
    caption { display: table-caption } th { font-weight: bolder; text-align: center }
    caption { text-align: center } body { margin: 8px } h1 { font-size: 2em; margin: .67em 0 }
    h2 { font-size: 1.5em; margin: .75em 0 } h3 { font-size: 1.17em; margin: .83em 0 }
    h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu { margin: 1.12em 0 }
    h5 { font-size: .83em; margin: 1.5em 0 } h6 { font-size: .75em; margin: 1.67em 0 }
    h1, h2, h3, h4, h5, h6, b, strong { font-weight: bolder }
    blockquote { margin-left: 40px; margin-right: 40px }
    i, cite, em, var, address { font-style: italic }
    pre, tt, code, kbd, samp { font-family: monospace } pre { white-space: pre }
    button, textarea, input, select { display: inline-block } big { font-size: 1.17em }
    small, sub, sup { font-size: .83em } sub { vertical-align: sub }
    sup { vertical-align: super } table { border-spacing: 2px; }
    thead, tbody, tfoot { vertical-align: middle } td, th, tr { vertical-align: inherit }
    s, strike, del { text-decoration: line-through } hr { border: 1px inset }
    ol, ul, dir, menu, dd { margin-left: 40px } ol { list-style-type: decimal }
    ol ul, ul ol, ul ul, ol ol { margin-top: 0; margin-bottom: 0 }
    u, ins { text-decoration: underline } br:before { content: "\A"; white-space: pre-line }
    center { text-align: center } :link, :visited { text-decoration: underline } :focus { outline: thin dotted invert }
    /* Begin bidirectionality settings (do not change) */ BDO { direction: ltr; unicode-bidi: bidi-override }
    BDO { direction: rtl; unicode-bidi: bidi-override } * { direction: ltr; unicode-bidi: embed }
    * { direction: rtl; unicode-bidi: embed } @media print { h1 { page-break-before: always }
    h1, h2, h3, h4, h5, h6 { page-break-after: avoid } ul, ol, dl { page-break-before: avoid } }
    a{
      color:#1F689E;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}


.bids {
  .bidButton{
    display: block;
    margin-top: 10px;
    button{

      font-family: "Roboto", sans-serif;
      font-size: medium;
      height: 40px;
      width: 180px;
      background-color: #0088CC;
      color: #fff;
      border-radius: 10px;
      border: 1px solid #ebebeb;
      .fa{
        padding-right: 10px;
    }
    }
    button:hover{
      background-color: #006da3;
    }
  }

  .bids__create{
    display: none;
    margin-left: 40px;
    .label{
      display: inline-block;
      font-family: "PT Sans", sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 21px;
      color: rgba(17, 17, 17, 0.85);
      //margin-bottom: 5px;
    }
    .placeholder.price{
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      color: rgba(17, 17, 17, 0.85);
    }
    .placeholder.terms{
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      color: #5f5f5f;
      margin-left: 159px;
    }
    .placeholder.terms{
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      color: #5f5f5f;
      margin-left: 159px;
    }
    .placeholder.comment{
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      color: #5f5f5f;
      margin-left: 159px;
    }
    button{
      margin-left: 157px;
    }
  }
  .bids__create input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fff;
    //width: 100%;
    border: 1px solid #E0E0E0;
    margin: 0 0 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: 20px;
  }
  .bids__create textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fff;
    //width: 100%;
    border: 1px solid #E0E0E0;
    margin: 0 0 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: 20px;
    width: 660px;
    resize: none;
    height: 150px;
  }
  .bids__create input.terms {
    margin: 0 0 0 20px;
  }
  .bids__create textarea.comment {
    margin: 20px 0 0 20px;
  }
  .label.price{
    margin-left: 63px;
  }
  .label.comment{
    margin-left: 56px;
  }
  .bids__create input.price{
    width: 150px;
  }
  .bids__create input.terms{
    width: 150px;
  }
  /*.bids__create input.comment{
    width: 660px;
  }*/
  .bids__create.active{
    display: block;
  }
  max-width: 900px;
  margin-top: 20px;
  background-color: #f4f5fa;
  border-radius: 5px;
  min-height: 200px;
  border: 1px solid #ebebeb;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(17, 17, 17, 0.85);
  .bids__header{
    display: flex;
    justify-content: space-between;
    p{
      font-size: 20px;
      font-weight: 400;
      color: #555555;
      line-height: 34px;
    }
    .bidButton.active{
      display: none;
    }
  }

  .bidsList{
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #e4e4e4;
    margin-top: 20px;

    .bidsList__header{
      display:flex;
      justify-content: space-between;
      .user{
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        color: #1F689E;
      }
      .user:hover{
        text-decoration: underline;
      }
      .bidsList__parametrs{
        display: flex;
      }
      .bidsList__price{
        height: 20px;
        background-color: #00AE5A;
        border-radius: 5px;
        color: #fff;
        font-size: 11px;
        line-height: 17px;
        font-weight: 700;
        padding: 0 10px 0 10px;
      }
      .bidsList__terms{
        margin-left: 10px;
        height: 20px;
        background-color: #0088CC;
        border-radius: 5px;
        font-size: 11px;
        line-height: 17px;
        font-weight: 700;
        color: #fff;
        font-size: 11px;
        line-height: 17px;
        font-weight: 700;
        padding: 0 10px 0 10px;
      }
    }
    .bidList__main{
      display: flex;
      justify-content: space-between;
    }
    .contacts{
      //float: right;
      img{
        width: 30px;
        height: 30px;
      }
    }
  }


}
