.wrapper{
  /*background: url("../../assets/img/home/passat.png") ((900px/1600px)*100%) 0px 0px 0px no-repeat;*/
  background-color: #f4f5fa;
  min-height: 1000px;
  height: 100%;
  padding-top: 1px;
}

.container1{
  border: 1px solid #ebebeb;
  border-radius: 10px;
  max-width: 1230px;
  padding: 15px;
  margin: 10px auto;
  //height: 1200px;
  background-color: #FFF;
  font-family: "PT Sans", sans-serif;
  display: flex;
  /*h1{
    padding-top: 5px;
    font-size: 36px;
    color: #555555;
    font-weight: 700;
  }*/
  .dashboardMenu {
    border: 1px solid #ebebeb;
    width: 250px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    background-color: #f4f5fa;
    .fa {
      color: #183153;
      margin-right: 5px;
    }
    .header__list {
    }
    .header__element {
      height: 40px;
      padding: 10px;
      width: 100%;
    }
    .header__element:not(.first) {
      border-top: 1px solid #ebebeb;;
    }
    .header__element:hover {
      background-color: #e0e1e6;
    }
    .header__link {
      color: #545454;

      .fa-cog{
        margin-left: 2px;
        padding-right: 5px;
      }
      .fa-pencil-square-o{
        margin-left: 2px;
        padding-right: 3px;
      }
    }
  }

  .exitButton{
    margin-top: 10px;
    button{
      width: 100px;
      height: 46px;
      background-color: #dbdbdb;
      border-radius: 5px;
      color: #3d3d3d;;
      font-size: 16px;
      border: 1px solid #ebebeb;
      width: 250px;
      .fa-sign-out{
        margin-right: 5px;
      }
    }
    button:hover{
      background-color: #c5c5c5;
    }
  }

  .content{
    margin-left: 15px;
    width: 100%;
  }

}
