<div class="wrapper">
  <div class="container">
    <h1>Кабінет користувача</h1>
    <aside class="userInfo">
      <div class="userInfo__foto">
        <img src="{{imagePath}}" alt="Ой!">
        <form action="/setProfileImage" method="post" enctype="multipart/form-data">
          <input hidden="true" type="file" name="filedata" id="file-input" accept=".jpg,.jpeg,.png" (change)="onFileSelected($event)">
          <label for="file-input">
              <div mat-raised-button class="btn" class="userInfo__addFoto">
                <p>
                  Завантажити фото
                </p>
              </div>
          </label>
        </form>
      </div>
      <div class="userInfo__name">
        <p>{{login}}</p>
      </div>
    </aside>
    <div class="exitButton">
      <button (click)="logoutUser()">Вихід</button>
    </div>
  </div>
</div>
