<div class="wrapper">
  <div class="container1">

    <aside>
      <div class="dashboardMenu">
        <nav>
          <ul class="header__list">
            <div [routerLink]="['/dashboard/profile']" class="header__element first">
              <li><a class="header__link"><i class="fa fa-address-card fa-lg"></i>Профіль</a></li>
            </div>
            <div [routerLink]="['/dashboard/edit-profile']" class="header__element">
              <li><a class="header__link"><i class="fa fa-cog fa-lg"></i>Налаштування профілю</a></li>
            </div>
            <div [routerLink]="['/dashboard/user-data']" class="header__element">
              <li><a class="header__link"><i class="fa fa-pencil-square-o fa-lg"></i>Особисті дані</a></li>
            </div>
          </ul>
        </nav>
      </div>

      <div class="exitButton">
        <button (click)="logoutUser()"><i class="fa fa-sign-out" aria-hidden="true"></i>Вихід з облікового запису</button>
      </div>
    </aside>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
