*{
  font-family: "PT Sans", sans-serif;
}

$red: #D62828;
$blue: #003049;
$orange: #F77F00;
$grey: #777777;
$white: #fff;
$black: #000;

.wrapper{
  min-height: 100vh;
  height: 100%;
  background: rgba(255, 255, 255, 0.911) url("../../assets/img/background2.jpg") repeat;
  background-blend-mode: color;
}
.container{
  max-width: 1230px;

  padding: 0 10px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.397);
  min-height: 100vh;
  height: 100%;
}

.orderInfo{
  font-size: 30px;
  font-weight: 700;
  color: #555555;
  display:flex;
  .orderInfo__desc{
    padding-right: 15px;
    padding-top: 10px;
  }
  .orderInfo__count{
    margin-top: 13px;
    min-width: 30px;
    height: 25px;
    background-color: #ec3e3e;
    font-size: 15px;
    color: #fff;
    border-radius: 20%;
    p{
      padding-top: 5px;
      padding-left: 10px;
    }
  }
}

.ordersList{
  width: 80%;
  //margin-left: 30%;
  //margin-top: 40px;
}

.ordersList__order {
  min-height: 100px;
  //font-family: "PT Sans", sans-serif;
  outline: 0;
  background: #f2f2f2;//#f2f2f2  e6fcff   e9efff
  width: 100%;
  border: 1px solid #E0E0E0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  .orderName{
    font-weight:400;
    color:#1F689E;
    font-size: 19px;

  }
  a:hover{
    text-decoration:underline;
  }
  .a:visited{
    //color: #94B6D7;
  }
  .description{
    //font-family: "PT Sans", sans-serif;
    font-size: 15px;
    padding-top: 10px;
    font-weight: 400;
  }
  .date{
    font-size: 16px;
  }
  .user{
    //font-family: "PT Sans", sans-serif;
    color: #2173AF;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.page{
  display: flex;
  .filters{
    /*border: 1px solid #e6e6e6;
    background-color: #F2F2F2;*/
    width: 20%;
    margin-right: 10px;
    section{
      border: 1px solid #e6e6e6;
      background-color: #fff;
    }
    mat-expansion-panel{
      //margin-bottom: 10px;\
      border-radius: 0px;
      border-bottom: 1px solid #e6e6e6;
      box-shadow: none;
    }
    .another{
      margin: 10px 10px 10px 25px;
    }
    .createOrder{
      margin-top: 50px;
      margin-bottom: 30px;
      .createOrder__title{
        text-align: center;
        margin-bottom: 3px;
        color: #777777;
      }
      .createOrder__button{
        width: 100%;
        height: 40px;
        background-color: #5C7CD3; //#ec3e3e;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        border-radius: 10px 10px 10px 10px;
      }
    }
  }
}
