
<div class="wrapper">
  <div class="container">
    <div class="orderInfo">
      <h1 class="orderInfo__desc">Всього замовлень</h1><div class="orderInfo__count"><p>{{ordersCount}}</p></div>
    </div>
    <button (click)="createOrder()">Створити замовлення</button>
    <main class="ordersList">
      <div class="ordersList__order" *ngFor="let orders of orders | async ; let i = index">
        <a class="orderName" href="#"><p>{{orders.name}}</p></a>
        <p class="description">{{orders.description}}</p>
        <a href="#"><p class="user">{{orders.userLogin}}</p></a>
      </div>
    </main>
  </div>
</div>



